[submodule "stm32cube_template"]
	path = stm32cube_template
	url = https://github.com/IRobot-EC-2024/stm32cube_template.git
[submodule "libs/crc"]
	path = libs/crc
	url = https://github.com/gityf/crc.git
